/* image gallery */


/* 
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;
}

.coloumn {
    flex: 26%;
    padding: 0px 4px;
    max-width: 25%;
}

.coloumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 300px;
}

@media screen and(max-width:600px) {
    .coloumn {
        flex: 60%;
        max-width: 60%;
    }
}

@media screen and(max-width:900px) {
    .coloumn {
        flex: 100%;
        max-width: 100%;
    }
} */


/* website */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}