<!-- semantic article -->
<html>
    <head>
    <style>
    .all-bm{
    margin:0;
    padding:5px;
    background-color:violet;
    
    }
    .all-bm >h1, .bm{
    margin:0px;
    padding:5px;
    }
    .bn{
    background:pink;
    
    }
    .bn >h2,p{
    margin:15px;
    font-size: 90%;
    padding:5px;
    }
    </style>
    </head>
    <body style="background-color: lightgray";>
    <article class="all-bm ">
    <p>Most Popular Browsers</p></article>
    <article class="bn">
    <h2>Google Chrome</h2>
        <p>Google Chrome is a web browser developed by Google, 
         released in 2008. Chrome is the world's most popular web browser today!</p>
      </article>
    
    <article class="bn">
    <h2>Mozilla Firefox</h2>
        <p>Mozilla Firefox is an open-source web browser developed by Mozilla. 
         Firefox has been the second most popular web browser since January, 2018.</p>
      </article>
    <article class="bn">
        <h2>Microsoft Edge</h2>
        <p>Microsoft Edge is a web browser developed by Microsoft, 
        released in 2015. Microsoft Edge replaced Internet Explorer.</p>
      </article>
    
    </body>
    
    </html>
    <!-- navigate -->
    <html>
        <head>
        
        </head>
        <body>
        <p><a href="mailto:uuuu@nnnn.com">uuuu@nnnn.com</a></p>
        <nav>
        <a href="/html/">html</a>|
        <a href="/html/">css</a>|
        <a href="/html/">java</a>|
        
        </nav>
       
        
        
    </body>
    </html>
    <!--asside  -->
    <head>
    <style>
    aside {
      width: 10%;
      padding-left: 15px;
      margin-left: 15px;
      float:right;
      font-style: italic;
      background-color: lightgray;
    }
    </style>
    </head>
    <body>
    <p>My family and I visited The Epcot center this summer. 
    The weather was nice, and Epcot was amazing! 
    I had a great summer together with my family!</p>
    
    <aside>
    <p>The Epcot center is a theme park at Walt Disney World Resort 
    featuring exciting attractions, international pavilions, 
    award-winning fireworks and seasonal special events.</p>
    </aside>
    </body>
<!-- figure -->
    <figure>
    <img src="" alt="hhyuuyuyyu" width="170px">
    <figcaption>fig-1 pink green</figcaption>
    </figure>
    
   