<!-- card -->
<div class="pic">

    <img src="assets/d.jpg" style="width: 300px;">
<div class="container">
    icon picture
</div>
</div>
<!-- text right in image -->
<!-- 
<head>
    <style>
    .container {
      position: relative;
    }
    
    .topright {
      position: absolute;
      top: 8px;
      right: 16px;
      font-size: 18px;
    }
    
    img { 
      width: 100%;
      height: auto;
      opacity: 0.3;
    }
    </style>
    </head>
    <body>
    
    <h2>Image Text</h2>
    <p>Add some text to an image in the top right corner:</p>
    
    <div class="container">
      <img src="assets/d.jpg" alt="Cinque Terre" width="1000" height="300">
      <div class="topright">Top Right</div>
    </div>
    
    </body> -->
    <img src="assets/d.jpg">
    <img class="blur" src="assets/d.jpg">
    <img class="bright" src="assets/d.jpg"> 
    <img class="color" src="assets/d.jpg">
    <img class="color1" src="assets/d.jpg">
    <img class="color2" src="assets/d.jpg">
    <img class="color3" src="assets/d.jpg">
    <img class="color4" src="assets/d.jpg">
    <img class="color5" src="assets/d.jpg">
    <img class="color6" src="assets/d.jpg">
    <img class="color7" src="assets/d.jpg">