<!-- <body> 
    <h1>web works:</h1>
    <h2>HTML Tutorial</h2>
    <h2>css Tutorial</h2>
    <h2>java Tutorial</h2>
</body>-->

<body>
    <h1> Rizwana HOTEL</h1>
<ol>
    <li>item</li>
    <li>item
        <ol>
            <li>tea</li>
            <li>cofee
                <ol>
                    <li>capacciuno</li>
                    <li>cold coffee</li>
                </ol>
            </li>
            <li>milk</li>
        </ol>
    </li>
</ol>
<ol>
    <li>item
   <ol> 
       <li>pizza</li>
       <li>burger</li>
       <li>choco lava</li>
       <li>bronie with icecream</li>
   </ol>

</li></ol></body>