<!-- basic -->
<!--  
<form > 
    <label for="firstname">firstname</label>
    <input class="k" type="text" id="firstname" 
    name="firstname" value="">
    <label  for="lastname">lastname</label>
    <input  class="k" type="text" id="lastname" 
    name="lastname" value="">
</form>-->
<!-- search icon -->
<!-- <input class="input" type="text" placeholder="search @ rizwana $*B"> -->
<!--  
<form>
    <select>
        <option value="dd">f</option>
        <option value="hh">j</option>
        <option value="vv">k</option>
    </select>
</form>
<br><br><br><br><br><br>
<form>
    <input type="button" value="button"><br>
    <br>
    <input type="reset" value="reset"><br>
    <br>
    <input type="submit" value="submit"><br>
</form>-->
<!-- 
<form>
 <div>  
    <label for="mm">firstname:</label>
<input type="text" placeholder="firstname">
<br>
<br>
<br>
<label for="vv">lastname:</label>
<input type="text" placeholder="lastname">
</div> 
<br>
<br>
<label for="country">country:</label>
<select >
    <option value="aus">aus</option>
    <option value="can">can</option>
    <option value="uk">uk</option>
</select>
<br>
<br>
<label for="subject">subject:</label>
<textarea>write somehere..</textarea>
<br><br>
<input class="submit" type="submit" value="submit">
</form> -->