<!-- <body> 
    <p>media1 works!</p>
</body>-->
<!-- navigation -->
<!-- 
<body>

    <h2>Responsive navigation menu</h2>
    <p>Resize the browser window to see the effect: When the screen is less than 600px, the navigation menu will be displayed vertically instead of horizontally.</p>

    <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>

</body> -->

<body>

    <h2>Responsive Four Column Layout</h2>


    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>

        <div class="column" style="background-color:#bbb;">
            <h2>Column 2</h2>
            <p>Some text..</p>
        </div>

        <div class="column" style="background-color:#ccc;">
            <h2>Column 3</h2>
            <p>Some text..</p>
        </div>

        <div class="column" style="background-color:#ddd;">
            <h2>Column 4</h2>
            <p>Some text..</p>
        </div>
    </div>

</body>