.grid-container {
    display: grid;
    /* display: inline-grid; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: 50px 50px 50px 50px;
    background-color: blue;
    grid-column-gap: 50px;
    /* grid-row-gap: 40px; */
    /* grid-gap: 50px 700px; */
    /* grid-template-rows: 400px 400px; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    padding: 15px;
}

.grid-item {
    justify-content: space-evenly;
    background-color: blanchedalmond;
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}