<html>
<!--element create-->  
<h1> yy</h1> 
<!--heading-->   
       <h2>
            BASIC OF NATURE
       </h2>
 <!--paragraph-->        
       <p> yyyy</p>

<!--title attribute-->  
<h2 title="I'm a header">The title Attribute</h2>          
<p vv="I'm a tooltip">jj</p>

<!--style-->         
<p style="font-size: 300%;">close to 5 million globally  
                For 50 years, WWF has been protecting the future of nature.
                The world's leading conservation organization,
                WWF works in 100 countries and is supported by
                1.2 million members in the United States and
                close to 5 million globally.</p>
<p> <b style="font-size: 300%;">close to 5 million globally</b>  
                    For 50 years, WWF has been protecting the future of nature.
                    The world's leading conservation organization,
                    WWF works in 100 countries and is supported by
                    1.2 million members in the United States and
                    close to 5 million globally.</p>
              
<p style="font-size: medium;">universal connection</p>

<p style="font-size: 300%;">universal connection</p>

<p style="text-align: center;"> java language</p>

<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">WWF works in 100 countries and is supported by</p>

<p style="font-style: inherit;">1.2 million members in the United States and</p>

<!--formatting--> 

<em>1.2 million members in the United States</em>

<blockquote cite="http://www.w3school.com">1.2 million members in the United States and</blockquote>

<blockquote>1.2 million members in the United States and</blockquote>

<p><del>1.2 million</del> members in the United States</p>

<p>1.2 million <mark>members</mark> in the United States</p>

<p>1.2 million<del> rrr</del> <ins>members</ins>  in the United States</p>

<p>1.2 million <sup>members</sup>  in the United States</p>

<p>1.2 million <sub>members</sub>  in the United States</p> 

<p>1.2 million <small>members</small>  in the United States</p>

<p> 1.2 million:<q>members in the United States</q> members in the United States </p>  
        
<address>
    Written by John Doe.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA              
</address>
<address>
    Written by John Doe
    Visit us at:
    Example.com
    Box 564, Disneyland
    USA                  
</address> -->
        
<p>The world's <cite>leading</cite>leading conservation organization,</p>

<p dir="ltr">leading conservation organization</p>

<p dir="rtl">leading conservation organization</p>

<p dir="auto">leading conservation organization</p>     

<bdo dir="rtl">leading conservation organization </bdo><br>

<bdo dir="ltr">leading conservation organization </bdo><br>

<bdo dir="auto">leading conservation organization </bdo><br>

</html>
