<!-- align -->
<!--  
<head>
<link rel="stylesheet" href="align.component.css">
</head>
<div class="v">
    To center an image, set left and right 
    margin to auto, and make it into a block elemen
</div>
<p>
    To center an image, set left and right 
    margin to auto, and make it into a block elemen</p>
    <img src="assets/d.jpg" width="200px" height="200px">

<div class="r">
        To center an image, set left and right 
        margin to auto, and make it into a block elemen
</div><br>
<br>
<br>
<br>
<div class="s">
        To center an image, set left and right 
        margin to auto, and make it into a block elemen
</div>-->
<!-- Center Vertically -->
<div class="x">
    To center an image, set left and right 
    margin to auto, and make it into a block elemen
</div><br>
<br>
<!-- Center Vertically - Using line-height -->
<div class="l">
    To center an image, set left and right 
    margin to auto, and make it into a block elemen
</div><br>
<div class="a">
    To center an image, set left and right 
    margin to auto, and make it into a block elemen
</div>
<br>
<div class="g">
    To center an image, set left and right 
    margin to auto, and make it into a block elemen
</div>



