<!-- 
<video controls>
    <source src="../../assets/vdo.mp4" type="video/mp4">
</video> -->
<!--  
<video controls autoplay>
    <source src="../../assets/vdo.mp4" type="video/mp4">
</video>-->
<!-- 
<video controls autoplay muted>
    <source src="../../assets/vdo.mp4" type="video/mp4">
</video> -->
<!-- 
<audio controls>
    <source src="../../assets/thalaivar.mp3" type="audio/mpeg">
 -->
<!-- 
<audio controls autoplay>
            <source src="../../assets/thalaivar.mp3" type="audio/mpeg"> -->
<!-- 
                <audio controls autoplay muted>
                    <source src="../../assets/thalaivar.mp3" type="audio/mpeg">-->

<!--  
<object width="100%" height="500px" data="dektop/oo.html"></object>-->
<!--  
<object data="../../assets/falls2.jpg"></object>-->

<!-- 
<embed src="../../assets/jj.jpeg"> -->
<!--  
<iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
    </iframe>-->
<!--  
<iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
    </iframe>-->
<!-- 
<iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
    </iframe> -->
<!-- 
<iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
    </iframe> -->
<iframe src="basic1.html" style="border:none;" title="Iframe Example"></iframe>