<head>
    <link rel="stylesheet" href="overflow.component.css">
</head>
<p>
    By default, the overflow is visible,By default,

    By default, the overflow is visible, 
    meaning that it is not 
    clipped and it renders outside 
    the element's box<br>
    By default, the overflow is visible, 
    meaning that it is not 
    clipped and it renders outside 
    the element's box</p>

    <p class="c">
        By default, the overflow is visible, 
        meaning that it is not  the overflow By default, the overflow is visible, 
    meaning that it is notis visible, By default, the overflow is By default, the overflow is visible, 
    meaning that it is notvisible, By default, the overflow is visible, 
    meaning that it is notBy default, the overflow is visible, 
   
        clipped and it renders outside 
        the element's box
        By default, the overflow is visible, 
        meaning that it is not 
        clipped and it renders outside 
        the element's box<br>
        By default, the overflow is visible, 
        meaning that it is not 
        clipped and it renders outside 
        the element's box</p>
        <p class="c1">
            By default, the overflow is visible, 
            meaning that it is not 
            clipped and it renders outside 
            the element's box
            By default, the overflow is visible, 
            meaning that it is not 
            clipped and it renders outside 
            the element's box<br>
            By default, the overflow is visible, 
            meaning that it is not 
            clipped and it renders outside 
            the element's box</p><br>
            <br>
            <br>
            <br>
            <p class="c2">
                By default, the overflow is visible, 
                meaning that it is not 
                clipped and it renders outside 
                the element's box
                By default, the overflow is visible, 
                meaning that it is not 
                clipped and it renders outside 
                the element's box<br>
                By default, the overflow is visible, 
                meaning that it is not 
                clipped and it renders outside 
                the element's box</p>