
<!--target-->
<a href="http://www.w3school.com/" target="_blank">leading conservation organization</a><br>

<a href="http://www.w3school.com/" target="_self">leading conservation organization</a><br>

<a href="http://www.w3school.com/" target="_parent">leading conservation organization</a><br>

<a href="http://www.w3school.com/" target="_top">leading conservation organization</a><br>

<!-- link-->
<a href="http://www.w3school.com">hello</a>

<!--task image path seection-->
<div> <img src="../app/basic/image/d1.jpg" width="45" height="40"></div>

<div> <img src="../../app/basic/d2.jpg" width="123" height="143"></div>

<!--image gif-->

<a href="http://www.w3school.com">
 
<img src="assets/giphy.gif" width= "140" height="145"></a><br>

<!--mail-->
 <p><a href="rizwana1429@gmail.com" > mail</a>      </p>
    
    <button onclick="document.location='default.asp'">HTML Tutorial</button>

<!--title-->   
    <a href="https://www.w3schools.com/html/" title="Go to W3Schools HTML section">Visit our HTML Tutorial</a><br>
    
    <a href="http://www.w3schools.com/css/" title=" Go to W3Schools CSS section"> visit our css Tutorial</a><br>
    
    <a href="https://www.w3schools.com/html/default.asp">HTML tutorial</a><br>
    
    <a href="/html/default.asp">HTML tutorial</a><br><br>

<!--bookmark-->
    <body>
        <p><a href="#C4">jump to Chapter 4</a><br>
        
        <a href="#C5">jump to Chapter 5</a><br>
        
        <a href="#C6">jump to Chapter 6</a><br>
        
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2 id="C6">Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        
        <h2 id="C4">Chapter 4</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2 id="C5"> Chapter 5</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 9</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 8</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 7</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 6</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 1</h2>
        <p>This chapter explains ba bla bla</p>
        
        <h2>Chapter 2</h2>
        <p>This chapter explains ba bla bla</p>
        
        </body>
        
        
        
