<!-- select -->
<body>
    <form > 
        <label for="choose">choose</label>
        <select id="choose" name="choose">
        <option value="volvo">volvo</option>
        <option value="swift">swift</option>
        <option value="bmw">bmw</option>      
    </select><br>
    <input type="submit" value="submit">
    </form>
    </body>
<!-- method1 in select -->

<body>
    <form > 
        <label for="choose">choose</label>
        <select id="choose">
        <option value="volvo"></option>
        <option value="volvo">volvo</option>
        <option value="swift">swift</option>
        <option value="bmw">bmw</option>      
    </select><br>
    <input type="submit" value="submit">
    </form>
    </body>
 <!-- method2 in select -->   
        <form > 
            <label for="choose">choose</label>
            <select id="choose">
            <option value="vo" ></option>
            <option value="volvo">volvo</option>
            <option value="swift">swift</option>
            <option value="bmw" selected>bmw</option>      
        </select><br>
        <input type="submit" value="submit">
        </form>

 <!-- size  -->   
       
 
 <form > 
    <label for="choose">choose</label>
    <select id="choose" name="choose" size="4">
        
    <option value="vo" ></option>
    <option value="volvo">volvo</option>
    <option value="swift">swift</option>
    <option value="bmw" >bmw</option>      
</select><br>
<input type="submit" value="submit">
</form>

<!-- multiple -->
<form > 
    <label for="choose">choose</label>
    <select id="choose" name="choose" size="4" multiple>
        
    <option value="vo" ></option>
    <option value="volvo">volvo</option>
    <option value="swift">swift</option>
    <option value="bmw" >bmw</option>      
</select><br>
<input type="submit" value="submit">
</form>
<!-- text area -->
<form>
    <textarea name="message" rows="10" cols="30" width="55px" height="44px">london 
is a very big city</textarea><br>
<input type="submit" value="submit">
</form>
<!-- button -->
<button type="button" onclick="alert('rizwana!')">click</button>

