<!--  
<body>
    <h1>media-queries works!</h1>
</body>-->
<div class="wrapper">
    <div id="leftside">
        <ul id="menulist">
            <li class="menuitem">menu1</li>
            <li class="menuitem">menu2</li>
            <li class="menuitem">menu3</li>
            <li class="menuitem">menu4</li>
        </ul>
    </div>
    <div id="main">
        <h1>Resize the browser window to see the effect!</h1>
        <p>This example shows a menu that will float to the left of the page if the viewport is 480 pixels wide or wider
    </div>
</div>