  <!--<p class="text">When an animation is finished, 
    
    it changes back to its original style</p>  -->
<!--
<p class="text1">When an animation is finished, 
    
        it changes back to its original style</p>

  <p class="text2">When an animation is finished, 
    
            it changes back to its original style</p>
    
 <div >When an animation is finished, 
    
            it changes back to its original style</div>
<p class="div1">it changes back to its original style</p>
<p class="div2">it changes back to its original style</p>
<p class="div3">it changes back to its original style</p>
<p class="div4">it changes back to its original style</p>
 <p class="div5">it changes back to its original style</p> -->
 <!--
 <p class="text3">When an animation is finished, 
    
    it changes back to its original style</p> -->

    <p class="text4">When an animation is finished, 
    
        it changes back to its original style</p>