div {
    background-color: darkkhaki;
    width: 250px;
    height: 300px;
}

@media screen and (max-width:600px) {
    div {
        /* display: none; */
        font-size: 30px;
    }
}

@media screen and (min-width:600px) {
    div {
        font-size: 180px;
    }
}