<!-- form -->
<html>
    <head>
    </head>
    <body>
        <form>
            <label for="first name">first name</label>
            <input type="text" id="first name" name="first name"><br>

        </form>
    </body>
</html>
<!-- div -->
<html>
    <head>
    </head>
    <body>
        <div>
            <label for="first name">first name</label>
            <input type="text" id="first name" name="first name"><br>

        </div>
    </body>
</html>
<!-- value -->
<html>
    <head>
    </head>
    <body>
        <form>
            <label for="first name">first name</label>
            <input type="text" id="first name" name="first name" value="ttt"><br>
        </form>
    </body>
</html>
<!-- basic form -->
<html>
    <head>
    </head>
    <body>
        <form>
            <label for="first name">first name</label>
            <input type="text" id="first name" name="first name" ><br><br>

            <label for="last name">last name</label>
            <input type="text" id="last name" name="last name" ><br><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>
<!-- radio -->
<html>
    <head>
    </head>
    <body>
        <form>
           
            <input type="radio" id="python" name="python" >
            <label >python</label><br><br>

            <input type="radio" id="java" name="java" >
            <label >java</label><br><br>
           
            <input type="radio" id="html" name="html" >
            <label for="html">html</label><br><br>

            <input type="submit" value="submit">
        </form>
    </body>
</html>

<!-- checkbox -->
<html>
    <head>
    </head>
    <body>
        <form action="/action_page.php">
           
            <input type="checkbox" id="python" name="python" >
            <label >python</label><br><br>

            <input type="checkbox" id="java" name="java" >
            <label >java</label><br><br>
           
            <input type="checkbox" id="html" name="html" >
            <label for="html">html</label><br><br>

            <input type="submit" value="submit">
        </form>
    </body>
</html>

<!-- auto complete -->
<html>
    <head>
    </head>
    <body>
        <form action="/action_page.php" autocomplete="on" target="_blank"> 
            <label for="first name">first name</label>
            <input type="text" id="first name" name="first name" ><br><br>

            <label for="last name">last name</label>
            <input type="text" id="last name" name="last name" ><br><br>
            
            <input type="submit" value="submit">
        </form>
    </body>
</html>
<!-- image moving -->
<body background="assets/d.jpg" width="79">

<marquee direction="right"><img src="assets/d7.jpg" width="60px"></marquee>

</body>