<!-- float -->
<!--  
<p><img src="assets/giphy.gif" width="200px" height="150px">
     ipsum dolor sit amet,
     consectetur adipiscing elit. Phasellus imperdiet,
     ipsum dolor sit amet,
     consectetur adipiscing elit. Phasellus imperdiet,
     ipsum dolor sit amet,
     consectetur adipiscing elit. Phasellus imperdiet,</p>
     <p><img class="n"   src="assets/giphy.gif" width="200px" height="150px">
        ipsum dolor sit amet,
        consectetur adipiscing elit. Phasellus imperdiet,
        ipsum dolor sit amet,
        consectetur adipiscing elit. Phasellus imperdiet,
        ipsum dolor sit amet,
        consectetur adipiscing elit. Phasellus imperdiet,</p>  
        <p><img class="n1"   src="assets/giphy.gif" width="200px" height="150px">
            ipsum dolor sit amet,
            consectetur adipiscing elit. Phasellus imperdiet,
            ipsum dolor sit amet,
            consectetur adipiscing elit. Phasellus imperdiet,
            ipsum dolor sit amet,
            consectetur adipiscing elit. Phasellus imperdiet,</p>-->

<!-- clear  -->
<!-- 
<p class="m">consectetur adipiscing elit. Phasellus imperdiet,
    ipsum dolor sit amet, </p>
    <p class="v">consectetur adipiscing elit. Phasellus imperdiet,
        ipsum dolor sit amet, </p>  <br>
        <br>
        <br>
        <p class="z">consectetur adipiscing elit. Phasellus imperdiet,
            ipsum dolor sit amet, </p>  
            <p class="k">consectetur adipiscing elit. Phasellus imperdiet,
                ipsum dolor sit amet, </p>    -->

<!-- overflow -->
<!--  
<p class="c"><img class="n2"  src="assets/d.jpg"
     width="100px" height="100px">
consectetur adipiscing elit. Phasellus imperdiet,
consectetur adipiscing elit. Phasellus imperdiet,
ipsum dolor sit amet,consectetur 
adipiscing elit. Phasellus imperdiet,
ipsum dolor sit amet,
    ipsum dolor sit amet</p>-->
<!--  
<div class="c1">
  <h1>clear  fix</h1>
    <img class="n3"  src="assets/d.jpg"
width="100px" height="100px">consectetur adipiscing elit.
 Phasellus imperdiet,
consectetur adipiscing elit. Phasellus imperdiet,
ipsum dolor sit amet,consectetur 
adipiscing elit. Phasellus imperdiet,
ipsum dolor sit amet,
ipsum dolor sit amet</div>-->
<!-- 
<body>
<i class=" fas fa-cloud"></i>
<i class=" fas fa-heart"></i>
    </body>
 -->
    <head>
        <title>Google Icons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        </head>
        <body>
        
        <p>Some Google icons:</p>
        <i class="material-icons">cloud</i>
        <i class="material-icons">favorite</i>
        <i class="material-icons">attachment</i>
        <i class="material-icons">computer</i>
        <i class="material-icons">traffic</i>
        <br><br>
        
        <p>Styled Google icons (size and color):</p>
        <i class="material-icons" style="font-size:24px;">cloud</i>
        <i class="material-icons" style="font-size:36px;">cloud</i>
        <i class="material-icons" style="font-size:48px;color:red;">cloud</i>
        <i class="material-icons" style="font-size:60px;color:lightblue;">cloud</i>
        
        </body>

