
<!-- <div class="gallery">
        <a traget="_blank" href="assets/d.jpg" >
        <img src="assets/d.jpg" ></a>
    <div class="text">gallery picture</div>
</div>
<div class="gallery">
    <a target="_blank" href="assets/giphy.gif">
    <img src="assets/d7.jpg"></a>
    <div class="text">gallery picture</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br>

<div class="gallery " >
    <a target="_blank" href="assets/d7.jpg" >
    <img src="assets/jj.jpeg" ></a>
    <div class="text">gallery picture</div>
</div>
<div class="gallery ">
    <a target="_blank" href="assets/jj.jpeg">
    <img src="assets/smiles.jpg"></a>
    <div class="text">gallery picture</div>
</div> -->
<!-- Image Sprites  -->
<!--  
<img id="home" src="assets/h.jpg">
<img id="home1" src="assets/m.png">-->
<!-- Image Sprites - Create a Navigation List -->


<ul id="nav">
    <li id="home">
        <a target="_blank" href="http://www.google.com">
            <img src="assets/h.jpg" width="100" height="100"></a> </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ul id="nav">
    <li id="data">
       
        <a href="http://www.w3school.com">
             <img src="assets/m.png" width="100" height="100"></a> </li>
</ul>
  
