<!-- The width Property -->
<!--
<body>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <img src="assets/d.jpg" width="400px" height="900px">
</body>  -->
<!--  
<body>

    <p>Resize the browser window to see the effect.</p>

    <div></div>
</body>-->
<!-- Different Images for Different Devices -->
<!--  
<body>

    <p>Resize the browser window to see the effect.</p>
</body>
-->

<body>
    <picture>
        <source srcset="assets/d.jpg" media="(max-width: 400px)">
        <source srcset="assets/d7.jpg">
        <source srcset="assets/nature.jpg" style="width: auto;">

    </picture>
</body>