<!-- <app-text></app-text>
<app-basic></app-basic>
<app-link></app-link> -->
<!-- <app-image></app-image> -->
<!--<app-table></app-table>-->
<!-- <app-responsive></app-responsive> -->
<!-- <app-elements></app-elements>   -->
<!-- <app-code></app-code>   -->
<!-- <app-symbol></app-symbol> -->
<!-- <app-forms></app-forms> -->
<!-- <app-form1></app-form1> -->
<!-- <app-form2></app-form2>  -->
<!-- <app-form3></app-form3> -->
<!-- <app-layout></app-layout> -->
<!-- <app-table2></app-table2>  -->
<!-- <app-list></app-list>  -->
<!-- <app-classes></app-classes> -->
<!-- <app-id></app-id> -->
<!-- <app-layout1></app-layout1>  -->
<!-- <app-form4></app-form4> -->
<!-- <app-graphic></app-graphic> -->
<!-- <app-video></app-video> -->
<!-- <app-css-selector></app-css-selector> -->
<!-- <app-css-basic></app-css-basic> -->
<!-- <app-image1></app-image1> -->
<!-- <app-box-model></app-box-model> -->
<!-- <app-text1></app-text1> -->
<!-- <app-font></app-font> -->
<!-- <app-icon></app-icon> -->
<!-- <app-overflow></app-overflow> -->
<!-- <app-float></app-float> -->
<!-- <app-display></app-display> -->
<!-- <app-align></app-align> -->
<!-- <app-opacity></app-opacity> -->
<!-- <app-nav></app-nav> -->
<!-- <app-dropdown></app-dropdown> -->
<!-- <app-gallery></app-gallery> -->
<!-- <app-form8></app-form8> -->
<!-- <app-counter></app-counter> -->
<!-- <app-website></app-website> -->
<!-- <app-transform></app-transform> -->
<!-- <app-transition></app-transition> -->
<!-- <app-animation></app-animation> -->
<!-- <app-tooltip></app-tooltip> -->
<!-- <app-style-image></app-style-image> -->
<!-- <app-overlay></app-overlay>  -->
<!-- <app-overlay1></app-overlay1> -->
<!-- <app-overlay2></app-overlay2> -->
<!-- <app-overlay4></app-overlay4> -->
<!-- <app-flip-image></app-flip-image> -->
<!-- <app-button></app-button> -->
<!-- <app-buton1></app-buton1> -->
<!-- <app-ui></app-ui> -->
<!-- <app-box-sizing></app-box-sizing> -->
<!-- <app-media-queries></app-media-queries> -->
<!-- <app-media1></app-media1> -->
<!-- <app-flex></app-flex> -->
<!-- <app-media2></app-media2> -->
<!-- <app-media3></app-media3> -->
<!-- <app-media4></app-media4> -->
<!-- <app-flex2></app-flex2> -->
<!-- <app-flex-responsive></app-flex-responsive> -->
<!-- <app-responsive1></app-responsive1> -->
<!-- <app-rwd-grid></app-rwd-grid> -->
<!-- <app-mq></app-mq> -->
<!-- <app-mq1></app-mq1> -->
<!-- <app-mq2></app-mq2> -->
<!-- <app-break-point></app-break-point> -->
<!-- <app-rwd-img></app-rwd-img> -->
<!-- <app-grid></app-grid> -->
<!-- <app-grid1></app-grid1> -->
<!-- <app-grid-item></app-grid-item> -->
<!-- <app-grid4></app-grid4> -->
<!-- <app-grid5></app-grid5> -->
<!-- <app-grid7></app-grid7> -->
<!-- <app-grid8></app-grid8> -->
<!-- <app-grid9></app-grid9> -->
<!-- <app-grid10></app-grid10> -->
<!-- <app-basic1></app-basic1> -->
<!-- <app-space></app-space> -->


<app-java-script1></app-java-script1>
<!-- -<app-js-style></app-js-style>-->
<!--
<ul>
    <li>
        <a routerLink="./app-java-script1">first</a>
    </li>
     <li>
        <a routerLink="./app-js-style">second</a>
    </li>
</ul>-->
<router-outlet></router-outlet>