<!-- unorder list -->
<h1>unorderlist<h1>
<ul>
<li>cofeee</li>
<li>tea</li>
<li>lasi</li>
</ul>
<!-- List Item  -->

<ul style="list-style-type:disc;">
<li>cofeee</li>
<li>tea</li>
<li>lasi</li>
</ul>

<ul style="list-style-type:square;">
<li>cofeee</li>
<li>tea</li>
<li>lasi</li>
</ul>

<ul style="list-style-type:circle;">
<li>cofeee</li>
<li>tea</li>
<li>lasi</li>
</ul>

<ul style="list-style-type:none;">
<li>cofeee</li>
<li>tea</li>
<li>lasi</li>
</ul>
<!-- ordered -->
<h1>orderlist<h1>

<ol>
<li>cofeee</li>
<li>tea</li>
<li>lasi</li>
</ol>

<!-- nested order -->

<ol>
<li>cofeee</li>
<ol>bhhbhbjhjbhbj</ol>
<li>tea</li>
<li>lasi</li>
</ol>


<ol>
<li>cofeee</li>
<ol><li>bh</li></ol>
<li>tea</li>
<li>lasi</li>
</ol>
<!-- description list -->
<h1>descriptionlist <h1>
<dl>
<dt>tea</dt>
<dd>ugahshh</dd>
</dl>
<!-- order design -->
<ol>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>
  
  <ol type="1">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>
  
  <ol type="i">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>
  
  <ol type="I">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>
  
  <ol type="a">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>
  
  <ol type="A">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>
  
  <ol type="A">
    <li>Coffee</li>
     <ol>dsccsdsds</ol>
    <li>Tea</li>
    <li>Milk</li>
  </ol>

   <!-- Horizontal List -->
  <html>
    <head>
    <style>
    ul{
    /* line-style-type:none; */
    margin:0;
    padding:0;
     overflow: hidden;
    background:blue;
    
    }
    li{
    float:left;
    }
    li a{
    display:block;
    text-align:center;
    color:blue;
    text-decoration:none;
    padding:30px;
    }
    li a:hover{
    background:green;
    }
    </style>
    </head>
    <body>
    <ol>
    <li><a href="#home">home</a></li>
    <li><a href="#news">news</a></li>
    <li><a href="#contact">contact</a></li>
    <li><a href="#about">about</a></li>
    </ol>
    
    <br>
    <br>
    <ul>
    <li><a href="#home">home</a></li>
    <li><a href="#news">news</a></li>
    <li><a href="#contact">contact</a></li>
    <li><a href="#about">about</a></li>
    </ul>
    </body>
    
    </html>
    
        
        
        



