<!-- Typical Device Breakpoints -->
<!-- 
<body>

    <h2>Typical Media Query Breakpoints</h2>
    <p class="example">Resize the browser window to see how the background color of this paragraph changes on different screen sizes.</p>
 
</body>-->
<!-- Orientation: Portrait / Landscape -->

<body>

    <p>Resize the browser window. When the width of this document is larger than the height, the background color is "lightblue", otherwise it is "lightgreen".</p>
</body>
<!-- Hide Elements  -->
<!--  
<body>

    <h2>Hide elements on different screen sizes</h2>

    <div class="example">Example DIV.</div>

    <p>When the browser's width is 600px wide or less, hide the div element. Resize the browser window to see the effect.</p>
</body>-->
<!-- Change Font Size -->

<body>

    <h2>Change the font size of an element on different screen sizes</h2>

    <div class="example">Example DIV.</div>

    <p>When the browser's width is 600px wide or less, set the font-size of DIV to 30px. When it is 601px or wider, set the font-size to 80px. Resize the browser window to see the effect.</p>