<div> To resize: Click and drag the bottom right corner of this div element</div>

<textarea id="txt">
    To resize: Click and drag the bottom 
    right corner of this div element
</textarea>
<textarea>Textarea - Resizable (default)</textarea>
<br>
<br>
<br>

<div class="ex1">
    Textarea - Resizable
</div>
<br>
<br>
<div class="ex2">
    Textarea - Resizable
</div>


<head>
    <style>
        body {
            background-color: #1e90ff;
        }
        
        h2 {
            border-bottom: 2px solid #1e90ff;
        }
        
        .container {
            color: #1e90ff;
            background-color: #ffffff;
            padding: 15px;
        }
        
        button {
            background-color: #ffffff;
            color: #1e90ff;
            border: 1px solid #1e90ff;
            padding: 5px;
        }
    </style>
</head>