<!-- block and inline -->
<!-- div -->
<div>tea
</div>


<div style="background-color:blue;color:pink;padding:20px;border:3px solid green;">tea  <p>London is the capital city of England. 
It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
</div>
<!-- main -->
<main>
<h2>London is the capital city</h2>
<article>
<h1>city</h1>
<p>It is the most populous city in the United Kingdom</p>
</article>
</main>
<!-- span -->
<p><span style="background-color:blue;color:pink;padding:
20px;border:3px solid green;">tea</span>  London is the 
capital city of England. 
It is the most populous city in the United Kingdom, 
with a metropolitan area of over 13 million inhabitants.</p>

<br>
<br>
<br>
<p><span style="color:violet;font-weight:bold">tea</span>  London is 
the capital city of England. 
It is the most populous city in the United Kingdom, 
with a<span style="color:violet;font-weight:bold"> 
    metropolitan</span>   area of over 13 million inhabitants.</p>
<br>
<br>
<!--field set  -->
<form >
<fieldset>
    <legend>Personalia:</legend>
<label for=nn>nn</label>
<input type="nnn" id="nn" name="nn"><br><br>

<label for=bdy>bdy</label>
<input type="nnn" id="bdy" name="bdy"><br><br>

<label for=em>em</label>
<input type="em" id="em" name="em"><br><br>

<input type="submit" value="Submit">
</fieldset>
</form >



