
<!-- normal -->
<form>
    <label for="first name">first name</label>
    <input type="text" id="first name" name="first name" ><br><br>

    <label for="last name">last name</label>
    <input type="text" id="last name" name="last name" ><br><br>

    <label for="email">email</label>
    <input type="email" id="email" name="email" ><br><br>
    
    <label for="bdy">last name</label>
    <input type="date" id="bdy" name="bdy" ><br><br>
    


    <input type="submit" value="submit">
</form>
<!-- field set -->
<form>
    <legend>bio data</legend>
    <fieldset>
        <legend>bio data:</legend>
    <label for="first name">first name</label>
    <input type="text" id="first name" name="first name" ><br><br>

    <label for="last name">last name</label>
    <input type="text" id="last name" name="last name" ><br><br>

    
    <label for="pwd">password</label>
    <input type="password" id="pwd" name="pwd" ><br><br>

    <label for="email">email</label>
    <input type="email" id="email" name="email" ><br><br>
    
    <label for="bdy">last name</label>
    <input type="date" id="bdy" name="bdy" ><br><br>

    <label for="color">color</label>
    <input type="color" id="color" name="color" value="pink" ><br><br>


</fieldset>
    <input type="submit" value="submit">
    <input type="reset" value="reset">
</form>

<!-- datailist -->
<form>
    <input list="car" name="car">
    <datalist id="car">
        <option value="ram">ram</option>
        <option value="mam">mam</option>
        <option value="jam">jam</option>
        <option value="dam">dam</option>
        
    </datalist>
    <input type="submit" value="submit">
</form>
<!-- output -->
<form oninput="x.value=parseInt (a.value)+parseInt(b.value)">
    0
    <input type="range" id="a" name="a"  value="50">
    100+
    <input type="number" id="b" name="b" value="50">
=
<output name="x.value" for="a b"></output><br>

<input type="submit" value="submit">
</form>


<!-- data time local -->
<form>
<label for="bdy">bdy</label>
    <input type="datetime-local" id="bdy"  name="bdy" max="bdy" ><br><br>
    <input type="submit" value="submit"> 
</form>

<!-- file -->
<form>
    <label for="file">choose a file</label>
        <input type="file" id="file"  name="file" value="file" >
        <input type="submit" value="submit"> 
    </form>
    
