<body>
    <div class="header">
        <h1>Responsive Image Grid</h1>
        <p>Resize the browser window to see the responsive effect.</p>
    </div>
    <div class="row">
        <div class="coloumn">
            <img src="../../assets/d.jpg">
            <img src="../../assets/d6.jpg">
            <img src="../../assets/d7.jpg">
            <img src="../../assets/wedding.jpg">
            <img src="../../assets/paris.jpg">
            <img src="../../assets/mountain.jpg">
            <img src="../../assets/falls2.jpg">

            <img src="../../assets/rocks.jpg">

        </div>
    </div>
</body>