<!--input types-->
<form >
    <label for="bdaymonth">Birthday (month and year):</label>
    <input type="month" id="bdaymonth" name="bdaymonth">
    <input type="submit" value="Submit">
  </form>
  
  
  <form>
    <label for="bc">no:</label>
    <input type="range" id="bc" name="bc" min="0" max="100" >
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="search" id="bc" name="bc"  >
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="tel" id="bc" name="bc"  placeholder="123-456-789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required >
    <input type="submit" value="Submit">
  </form>
  
  
  <form>
    <label for="bc">no:</label>
    <input type="time" id="bc" name="bc"  >
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="url" id="bc" name="bc"  >
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="week" id="bc" name="bc"  >
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="text" id="bc" name="bc" value="bc" readonly >
    <label for="bc">no:</label>
    <input type="text" id="bc" name="bc" >
  
    <input type="submit" value="Submit">
  </form>
  
  
  <form>
    <label for="bc">no:</label>
    <input type="text" id="bc" name="bc" value="bc" disabled >
    <label for="bc">no:</label>
    <input type="text" id="bc" name="bc" >
  
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="text" id="bc" name="bc"  size="45" >
    <label for="bc">no:</label>
    <input type="pin" id="bc" name="bc" size="4" >
  
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="text" id="bc" name="bc"  size="45" >
    <label for="bc">no:</label>
    <input type="pin" id="bc" name="bc" maxlength="99" >
  
    <input type="submit" value="Submit">
  </form>
  
  
  <form>
    <label for="bc">no:</label>
    <input type="date" id="bc" name="bc" max="2021-5-23">
    <label for="bc">no:</label>
    <input type="date" id="bc" name="bc" min="1995-5-23" >
  
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="file" id="bc" name="bc"  multiple >
  
    <input type="submit" value="Submit">
  </form>
  
  
  <form>
    <label for="bc">no:</label>
    <input type="text" id="bc" name="bc" placeholder="a-a-a" pattern="[A-Za-z]{3}" >
  
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="search" id="bc" name="bc" required >
    <input type="submit" value="Submit">
  </form>
  
  <form>
    <label for="bc">no:</label>
    <input type="search" id="bc" name="bc" required >
  
    <input type="image" src="nn.gif"  alt="Submit" width="48" height="48">
  
  <input type="submit" value="Submit">
  <input type="submit" value="Submit as">
  
  </form>
  
  <form id="form1">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <input type="submit" value="Submit">
  </form>
  
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" form="form1">
  
  
  
  
  
