<!--border color-->
<p style="border: 9px solid blue;">leading conservation organization</p>

<!--background color-->

<body style="background-color: cadetblue;">

      <p style="background-color: rgb(0,0,0);">leading conservation organization </p>

      <p style="background-color: rgb(255,255,255);">leading conservation organization </p>

      <p style="background-color: rgb(255,45,7);">leading conservation organization </p>

      <p style="background-color: rgba(255,78,98,5);"> leading conservation organization</p>

      <p style="background-color: hsl(9,67%,34%);">leading conservation organization</p>

      <p style="background-color: hsla(13,123%,55%,0.5);">leading conservation organization</p>

      <p style="background-color: #0000ff;">leading conservation organization</p>
             
      <p style="color:red;">The world's leading conservation organization, </p>

           
<!--text color-->
            <p style="color:blue;">The world's leading conservation organization, </p>
            
            <img src="../assets/images/d.jpg" width="150" height="160">           
</body>