/*  
div{ padding: 15px;
    border:4px solid lawngreen;
    font-size: 20px;
}
.b{
    display: inline;
    width: 100px;
    height: 100px;
    background-color: khaki;
}
   
.v{
    display: block;
    width: 100px;
    height: 100px;
    background-color: rgb(127, 211, 169);
   
} 
.h{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(146, 14, 146);
    
}*/
.nav{
    background-color: lightcoral;
    list-style-type: none;
 
    text-align: center;
   margin: 0px;
   padding: 0px;
    font-size: 20px;
}
.nav li{
display: inline-block;

padding: 20px;
}

