<!-- inline block -->
<!--
<head>
    <link rel="stylesheet" href="display.component.css">
</head>
<div>Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit.
<span class="b">adipiscing </span >elit
    <span class="b">Lorem</span> ipsum dolor sit amet, 
    consectetur adipiscing elit.

</div><br>

<div>Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit.
<span class="v">adipiscing </span >elit
    <span class="v">Lorem </span>ipsum dolor sit amet, 
    consectetur adipiscing elit.

</div><br>

<div>Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit.
<span class="h">adipiscing </span >elit
    <span class="h">Lorem </span> ipsum dolor sit amet, 
    consectetur adipiscing elit.

 </div> -->
 <!-- navigation link -->
 <head>
    <link rel="stylesheet" href="display.component.css">
</head>
<ul class="nav">
   <li><a href="https://www.w3school.com" >home</a></li> 
   <li><a href="https://www.w3school.com" >html</a></li> 
   <li><a href="https://www.w3school.com" >css</a></li> 
   <li><a href="#java" >java</a></li> </ul>
