<!-- html  id -->
 
<head>
    <style>
    .mm{
     background-color: lightblue;
      color: black;
      padding: 40px;
      text-align: center;
    }
    .cc{
    background-color: tomato;
      color: white;
      padding: 10px;
    }
    </style>
    </head>

        <!-- diff b/w class and id -->
    <h1 id="mm">London<h1>
    <h1 class="cc">hhhh<h1>
    <p>London is the capital of England</p>
    <br>
    <!--  add link bookmark -->
    <p><a href="#C4">bbbb</a></p> 
    <h2>Chapter 3</h2>
    <p>This chapter explains ba bla bla</p>
    <!--  bookmark with the id -->
    <h2 id="C4">Chapter 4</h2>
    <p>This chapter explains ba bla bla</p>
    
    <h2>Chapter 5</h2>
    <p>This chapter explains ba bla bla</p>
    
    <h2>Chapter 6</h2>
    <p>This chapter explains ba bla bla</p>
    
 
    
    <!-- create style to h1 and p -->
  
        <head>
    <style>
        body {background-color: powderblue;}
        h1 {color: red;}
        p {color: blue;}
      </style>
    </head>  
    <body>
    
    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p>
    </body>
  
    
   
