<!-- using class and span -->

<head>
    <style>
    .dd{
    background-color: tomato;
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }
    .main{
    text-align: center;
    }
   
    </style>
    </head>
   
     <!-- multiple class -->
    <div class="dd"><h1>dkdddd</h1>
    <p>London is the capital of England</p></div>
    
    
    <div class="dd main"><h1>dkdddd</h1>
    <p>London is the capital of England</p></div>
    
    <!-- same class -->
    <h1 class="dd">dkdddd</h1>
    <p>London is the capital of England</p>
    <h1 class="dd">dkdddd</h1>
    <p>capital of England</p>
    
    <!-- span -->
    <h1><span class="dd">London</span> is the capital of England
    <p>London is the <span class="dd">capital</span> of England</p>

  

  